.App {
  text-align: center;
}

.subcategory-name{
  //display: none;
  visibility: hidden;

  &.visible{
    //display: block;
    visibility: visible;
  }
}

.subcategory-info{
  //border: 1px solid gray;
}
li, ul{
  padding: 0;
  margin: 0;
}